{% load staticfiles %}

<h1> Hello from Home index! </h1>
<ul> TODOs:
  <li> migrate away from html!!!</li>
  <li> learn models</li>
</ul>

<div id='app'>
  <h2> React is loading... </h2>
</div>
<script src="https://fb.me/react-15.0.2.js"></script>
<script src="https://fb.me/react-dom-15.0.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<script src="{% static 'react_integration.js' %}" type="text/babel"></script>
